<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

<h1>Listing Logins</h1>

<table class="table table-striped">
  <thead>
    <th>Remote Addr</th>
    <th>Username</th>
    <th>Password</th>
  </thead>
  <tbody>
  {{range .Logins}}
  <tr>
    <td>{{.RemoteAddr}}</td>
    <td>{{.Username}}</td>
    <td>{{.Password}}</td>
  </tr>
  {{end}}

  </tbody>
</table>

</body>
</html>
