{{template "header.html" .}}

<div class="row">
  <div class="col-lg-4">
    <center>
      <h3>{{.Total}} Records</h3>
    </center>
  </div>
  <div class="col-lg-4">
    <center>
      <h3>{{.CommandTotal}} Commands</h3>
    </center>
  </div>
  <div class="col-lg-4">
    <center>
      <h3>{{.ProxyTotal}} Proxy Requests</h3>
    </center>
  </div>
</div>

<h3>About</h3>
<div class="well">
  <a href="http://sshpot.com/">SSHPot.com</a> is a <a href="https://github.com/joshrendek/sshpot-com">open-source</a> web service for receiving data from ssh-pot daemons, which act as a honeypot for ssh login attempts and records all user/password combinations along with the remote address. In order to run the daemon you must configure OpenSSH to run on a different port and let the honeypot run on port 22. We also record commands being run as well as proxy request data.
</div>

<hr>

<a name="api"></a>
<div class="row">
  <div class="col-lg-4">

    <h3>Login API</h3>


    <h4>GET <a href="/api/ssh_logins.json">/api/ssh_logins.json</a></h4>

    <p>
      API to retrieve a list of login attempts, 50 per page.
    </p>

    <b>Params</b>
    <ul>
      <li><b>page</b>: a page offset, default is page 1</li>
    </ul>


    <b>Example Response</b>
    <pre>
{
    "page":1,
    "total":1171,
    "data":[
        {
            "id":1174,
            "remote_addr":"183.56.129.146",
            "username":"carlton",
            "password":"carlton",
            "created_at":"2014-07-05T16:32:18.738787-04:00"
        },
        {
            "id":1173,
            "remote_addr":"116.10.191.166",
            "username":"admin",
            "password":"1qaz2wsx!@#",
            "created_at":"2014-07-05T16:27:38.105188-04:00"
        }
    ]
}
    </pre>

  </div>
  <div class="col-lg-4">

    <h3>Command API</h3>


    <h4>GET <a href="/api/ssh_commands.json">/api/ssh_commands.json</a></h4>

    <p>
      API to retrieve a list of commands run, 50 per page.
    </p>

    <b>Params</b>
    <ul>
      <li><b>page</b>: a page offset, default is page 1</li>
    </ul>


    <b>Example Response</b>
    <pre>
{
    "page":1,
    "total":31,
    "data":[
        {
            "command": "passwd root123",
            "created_at": "2014-08-16T18:05:13.020015-04:00",
            "id": 2
        },
        {
            "command": "whoami",
            "created_at": "2014-08-16T17:54:27.112847-04:00",
            "id": 1
        }
    ]
}
    </pre>

  </div>
  <div class="col-lg-4">

    <h3>Proxy API</h3>


    <h4>GET <a href="/api/ssh_proxy.json">/api/ssh_proxy.json</a></h4>

    <p>
      API to retrieve a list of proxy requests, 50 per page.
    </p>

    <b>Params</b>
    <ul>
      <li><b>page</b>: a page offset, default is page 1</li>
    </ul>

    <b>Example Response</b>
    <pre>
{
    "page":1,
    "total":31,
    "data":[
        {
            "data": {
                "Accept": "*/*",
                "Host": "google.com",
                "Method": "GET",
                "URI": "/?q=foobar",
                "User-Agent": "curl/7.30.0"
            },
            "created_at": "2014-08-17T19:10:49.386791-04:00",
            "id": 10
        }
    ]
}
    </pre>

  </div>

</div>

<hr>

<a name="last25"></a>
<div class="row">
  <div class="col-lg-4">
    <h3>Last 25 Logins</h3>

    <table class="table table-striped table-condensed">
      <thead>
        <th>Remote Addr</th>
        <th>Username</th>
        <th>Password</th>
      </thead>
      <tbody>
        {{range .Logins}}
        <tr>
          <td>{{.RemoteAddr}}</td>
          <td>{{.Username}}</td>
          <td>{{.Password}}</td>
        </tr>
        {{end}}

      </tbody>
    </table>
  </div>

  <div class="col-lg-4">
    <h3>Last 25 Commands</h3>
    <table class="table table-striped table-condensed">
      <thead>
        <th>Command</th>
      </thead>
      <tbody>
        {{range .Commands}}
        <tr>
          <td>{{.Command}}</td>
        </tr>
        {{end}}

      </tbody>
    </table>

  </div>

  <div class="col-lg-4">
    <h3>Last 25 Proxy Requests</h3>
    <table class="table table-striped table-condensed">
      <thead>
        <th>Request Data</th>
      </thead>
      <tbody>
        {{range .Requests}}
        <tr>
          <td>{{.Request}}</td>
        </tr>
        {{end}}

      </tbody>
    </table>

  </div>

</div>

{{template "footer.html" .}}
